africastalking==2.0.2
certifi==2026.2.25
charset-normalizer==3.4.6
Django==5.2.12
djangorestframework==3.17.1
dj-database-url==1.4.0
gunicorn==23.2.0
idna==3.11
Pillow==12.1.1
PyYAML==6.0.3
psycopg2-binary==2.9.9
requests==2.33.0
responses==0.26.0
schema==0.7.8
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3
whitenoise==6.12.0
